@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300;400&family=Spartan:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  color: #3F4045;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}

a:any-link {
  text-decoration: none;
}

.logo {
  background-color: transparent;
  height: 40px;
}

.fa-bars {
  background-color: #3F4045;
  color: #F1E5E5;
  font-size: 2em;
}

.sm-1 {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 86px;
  top: 105px;
  border-radius: 50%;
  background: #E1ECD4;
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.sm-2 {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 230px;
  top: 795px;
  border-radius: 50%;
  background: #E1ECD4;
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.sm-3 {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 80px;
  top: 1715px;
  border-radius: 50%;
  background: #E1ECD4;
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.sm-4 {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 245px;
  top: 2645px;
  border-radius: 50%;
  background: #E1ECD4;
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.sm-5 {
  position: absolute;
  width: 89px;
  height: 89px;
  left: 60px;
  top: 3305px;
  border-radius: 50%;
  background: #E1ECD4;
  box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.md-1 {
  border-radius: 50%;
  position: absolute;
  width: 117px;
  height: 117px;
  left: 207px;
  top: 295px;
  background: #F1E5E5;
  mix-blend-mode: normal;
  box-shadow: inset -4px 7px 15px rgba(0, 0, 0, 0.15);
}

.md-2 {
  border-radius: 50%;
  position: absolute;
  width: 117px;
  height: 117px;
  left: 54px;
  top: 984px;
  background: #F1E5E5;
  mix-blend-mode: normal;
  box-shadow: inset -4px 7px 15px rgba(0, 0, 0, 0.15);
}

.md-3 {
  border-radius: 50%;
  position: absolute;
  width: 117px;
  height: 117px;
  left: 220px;
  top: 1984px;
  background: #F1E5E5;
  mix-blend-mode: normal;
  box-shadow: inset -4px 7px 15px rgba(0, 0, 0, 0.15);
}

.md-4 {
  border-radius: 50%;
  position: absolute;
  width: 117px;
  height: 117px;
  left: 60px;
  top: 2864px;
  background: #F1E5E5;
  mix-blend-mode: normal;
  box-shadow: inset -4px 7px 15px rgba(0, 0, 0, 0.15);
}

.md-5 {
  border-radius: 50%;
  position: absolute;
  width: 117px;
  height: 117px;
  left: 184px;
  top: 3424px;
  background: #F1E5E5;
  mix-blend-mode: normal;
  box-shadow: inset -4px 7px 15px rgba(0, 0, 0, 0.15);
}

.lg-1 {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 38px;
  top: 489px;
  background: #D3C7C7;
  box-shadow: inset 7px 12px 26px rgba(0, 0, 0, 0.25);
}

.lg-2 {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 210px;
  top: 1332px;
  background: #D3C7C7;
  box-shadow: inset 7px 12px 26px rgba(0, 0, 0, 0.25);
}

.lg-3 {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50px;
  top: 2285px;
  background: #D3C7C7;
  box-shadow: inset 7px 12px 26px rgba(0, 0, 0, 0.25);
}

.lg-4 {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 170px;
  top: 3082px;
  background: #D3C7C7;
  box-shadow: inset 7px 12px 26px rgba(0, 0, 0, 0.25);
}

.lg-5 {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  left: 210px;
  top: 3702px;
  background: #D3C7C7;
  box-shadow: inset 7px 12px 26px rgba(0, 0, 0, 0.25);
}

.button {
  transform: rotate(-90deg);
  background-color: #3F4045;
  color: #F1E5E5;
  border-radius: 5px;
  padding: 2px 5px;
  position: fixed;
  top: 50vh;
  right: -20px;
  border-style: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75em;
}

.icons {
  font-size: 2em;
  margin-top: 10px;
  background: transparent;
}
.icons i {
  padding: 1vw;
  background: transparent;
}

.home {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 92vh;
  margin-bottom: 4vh;
}
.home__display {
  font-family: "Italiana", serif;
  font-size: 4.75em;
  font-weight: normal;
  background-color: transparent;
}
.home__display--maria {
  grid-area: 4/4/span 2/span 6;
  justify-self: center;
  padding-right: 5px;
  z-index: 1;
}
.home__display--pascoe {
  grid-area: 6/2/span 2/span 6;
  z-index: 1;
}
.home__title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: 10/2/span 4/span 7;
  font-size: 1em;
  text-transform: uppercase;
  z-index: 1;
  background: transparent;
}
.home__title--software {
  grid-area: 1/2/2/span 2;
  padding-top: 30px;
  background: transparent;
}
.home__title--dev {
  grid-area: 2/1/3/span 2;
  padding-top: 10px;
  background: transparent;
}
.home .portfolio {
  text-align: center;
  grid-area: 16/7/span 3/span 3;
  z-index: 1;
  background: transparent;
}
.home .portfolio i:hover {
  opacity: 0.8;
  transition: 0.6s;
}
.home .portfolio__title {
  font-size: 1.5em;
  background-color: transparent;
}

.projects {
  text-align: center;
  padding-top: 80px;
}
.projects__display {
  position: relative;
  font-family: "Italiana", serif;
  font-size: 4em;
  font-weight: normal;
  z-index: 1;
  background: transparent;
}
.projects__description {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
  padding: 2vw;
  margin: 7vh 0 1vh;
}
.projects__text {
  grid-area: 1/1/2/span 4;
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2.75em;
  z-index: 1;
  background: transparent;
}
.projects__icons {
  grid-area: 2/1/3/span 4;
  z-index: 1;
  font-size: 1.25em;
  align-self: center;
}
.projects__links {
  z-index: 1;
  color: #3F4045;
  font-weight: bold;
  font-size: 0.9em;
  height: 35px;
  line-height: 20px;
  padding: 10px;
}
.projects__links:hover {
  font-weight: bolder;
  background-color: #3F4045;
  color: #F1E5E5;
  border-radius: 10px;
}
.projects__links--webpage {
  grid-area: 3/2/4/3;
}
.projects__links--code {
  grid-area: 3/3/4/4;
}
.projects__img {
  filter: grayscale(0.5) opacity(0.8);
  width: 100%;
  margin-bottom: 3vh;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.about {
  position: relative;
  z-index: 1;
  text-align: center;
  font-weight: normal;
  padding: 35vw 6vw;
  margin: auto;
  line-height: 40px;
  font-size: 1.5em;
  background: transparent;
}
.about__text {
  position: relative;
  z-index: 1;
  background: transparent;
}
.about__display {
  font-family: "Italiana", serif;
  font-size: 1.25em;
  position: relative;
  background: transparent;
}
.about__display--name {
  font-size: 1.5em;
  position: relative;
  background: transparent;
}
.about__stack {
  font-weight: bold;
  margin: 12vh 0vh 2vh;
  position: relative;
  background: transparent;
}
.about__icons {
  font-size: 1.3em;
}

.contact {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 200px;
  background: transparent;
}
.contact__display {
  font-family: "Italiana", serif;
  font-size: 2.25em;
  background: transparent;
}
.contact__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5vh auto;
  align-items: center;
  max-width: 200px;
}
.contact a {
  background: transparent;
}
.contact__item {
  display: flex;
  flex-direction: column;
  background: transparent;
}
.contact__item i {
  background: transparent;
  font-size: 2.25em;
}
.contact__item i:hover {
  opacity: 1;
  transition: 0.6s;
}
.contact__label {
  background: transparent;
  padding-top: 1vh;
  font-size: 0.75em;
}

.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F4045;
  padding: 10px 5px 10px 15px;
  position: fixed;
  z-index: 2;
}
.header .nav {
  align-items: center;
  justify-content: space-between;
  background-color: #3F4045;
  /*
  &__list {
    display: flex;
    list-style-type: none;
    background-color: $color-black;
    /*
    @media screen and (max-width: 767px) {
      display: none;
    }   
  }*/
}
.header .nav__icon {
  padding-inline-end: 10px;
  background-color: transparent;
}
.header .nav__list {
  position: absolute;
  list-style-type: none;
  background-color: #F1E5E5;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.header .nav__item {
  background-color: transparent;
  padding: 5px 10px;
}
.header .nav__item a:hover {
  font-weight: bolder;
}
.header .nav__name {
  color: #3F4045;
  background-color: transparent;
}

.main {
  padding-top: 8vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header .nav:active .nav__list {
    display: block;
  }
  .header .nav__list {
    display: none;
    right: 0;
    top: 8vh;
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    height: 3.5em;
    width: 3.5em;
  }

  .sm-1 {
    width: 147px;
    height: 147px;
    left: 270px;
    top: 154px;
  }

  .sm-2 {
    width: 147px;
    height: 147px;
    left: 459px;
    top: 1200px;
  }

  .sm-3 {
    display: none;
  }

  .sm-4 {
    width: 147px;
    height: 147px;
    left: 570px;
    top: 2520px;
  }

  .sm-5 {
    width: 147px;
    height: 147px;
    left: 570px;
    top: 3565px;
  }

  .md-1 {
    width: 193px;
    height: 193px;
    left: 380px;
    top: 484px;
  }

  .md-2 {
    width: 193px;
    height: 193px;
    left: 150px;
    top: 1500px;
  }

  .md-3 {
    display: none;
  }

  .md-4 {
    width: 193px;
    height: 193px;
    left: 170px;
    top: 2814px;
  }

  .md-5 {
    width: 193px;
    height: 193px;
    left: 174px;
    top: 3704px;
  }

  .lg-1 {
    width: 248px;
    height: 248px;
    left: 100px;
    top: 725px;
  }

  .lg-2 {
    width: 248px;
    height: 248px;
    left: 70px;
    top: 2225px;
  }

  .lg-3 {
    display: none;
  }

  .lg-4 {
    width: 248px;
    height: 248px;
    left: 375px;
    top: 3202px;
  }

  .lg-5 {
    width: 248px;
    height: 248px;
    left: 40px;
    top: 4132px;
  }

  .button {
    font-size: 1em;
    padding: 3px 7px;
    right: -30px;
  }

  .header .nav {
    display: flex;
  }
  .header .nav__icon {
    display: none;
  }
  .header .nav__list {
    width: auto;
    display: flex;
    right: 0;
    list-style-type: none;
    background-color: #3F4045;
    box-shadow: none;
  }
  .header .nav__name {
    color: #F1E5E5;
  }

  .home {
    grid-template-rows: repeat(20, 1fr);
  }
  .home__display {
    font-size: 7.7em;
  }
  .home__display--maria {
    grid-area: 4/5/span 2/span 5;
    justify-self: center;
    padding-bottom: 0px;
    padding-right: 10px;
  }
  .home__display--pascoe {
    grid-area: 7/2/span 2/span 6;
    padding-bottom: 50px;
    padding-left: 15px;
    justify-self: center;
  }
  .home__title {
    font-size: 1.75em;
    grid-area: 10/2/span 4/span 6;
    justify-items: center;
  }
  .home__title--software {
    grid-area: 1/2/2/span 2;
    padding-top: 30px;
    padding-right: 0.5em;
  }
  .home__title--dev {
    grid-area: 2/1/3/span 2;
    padding-top: 10px;
  }
  .home .portfolio {
    grid-area: 16/7/span 3/span 3;
    justify-self: right;
  }
  .home .portfolio__title {
    font-size: 2.25em;
  }

  .projects {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 50px 0;
    margin: 100px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px repeat(3, 1fr);
    padding-top: 0;
    width: 100vw;
  }
  .projects__display {
    grid-area: 1/1/2/span 2;
    font-size: 7.7em;
  }
  .projects__item {
    display: flex;
  }
  .projects__item--blue-planet {
    grid-area: 2/1/span 1/2;
  }
  .projects__item--axel-tower {
    grid-area: 3/1/span 1/2;
    flex-direction: row-reverse;
  }
  .projects__item--round-tower {
    grid-area: 4/1/span 1/2;
  }
  .projects__img {
    margin: 20px;
    width: 50%;
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    mask-image: linear-gradient(to right, transparent, black);
  }
  .projects__img--2 {
    -webkit-mask-image: linear-gradient(to left, transparent, black);
    mask-image: linear-gradient(to left, transparent, black);
  }
  .projects__description {
    height: 304px;
    margin: 0;
  }
  .projects__text {
    padding: 2vw;
    font-weight: bold;
    margin: 2vh 0vh 0vh;
    line-height: 2.75em;
    align-self: center;
  }
  .projects__icons {
    font-size: 1.5em;
    align-self: flex-start;
  }
  .projects__links {
    font-size: 1em;
  }

  .about {
    width: 70%;
    margin: 0 auto;
    padding: 200px 0 0;
    line-height: 2.25em;
  }
  .about__text {
    font-size: 1.25em;
  }
  .about__display {
    font-size: 1.3em;
  }
  .about__display--name {
    font-size: 1.6em;
  }
  .about__stack {
    font-size: 1.25em;
    margin: 10vh 0vh 2vh;
  }
  .about__icons {
    letter-spacing: 5px;
  }

  .contact {
    margin: 0 auto;
    padding: 300px 0;
  }
  .contact__display {
    font-size: 3em;
  }
  .contact__icons {
    margin: 5vh auto;
    max-width: 300px;
  }
  .contact__item i {
    font-size: 3em;
  }
  .contact__label {
    padding-top: 1vh;
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 10.5vh;
  }

  .logo {
    height: 3em;
    width: 3em;
  }

  .nav__name {
    font-size: 1em;
  }

  .sm-1 {
    width: 147px;
    height: 147px;
    left: 180px;
    top: 176px;
  }

  .md-1 {
    width: 193px;
    height: 194px;
    left: 728px;
    top: 300px;
  }

  .lg-1 {
    width: 248px;
    height: 248px;
    left: 288px;
    top: 560px;
  }

  .sm-2 {
    width: 147px;
    height: 147px;
    left: 580px;
    top: 925px;
  }

  .md-2 {
    width: 193px;
    height: 194px;
    left: 140px;
    top: 1310px;
  }

  .lg-2 {
    width: 248px;
    height: 248px;
    left: 720px;
    top: 1700px;
  }

  .sm-4 {
    width: 147px;
    height: 147px;
    left: 260px;
    top: 2065px;
  }

  .md-4 {
    width: 193px;
    height: 194px;
    left: 220px;
    top: 2530px;
  }

  .lg-4 {
    width: 248px;
    height: 248px;
    left: 480px;
    top: 2680px;
  }

  .sm-5 {
    width: 147px;
    height: 147px;
    left: 780px;
    top: 3155px;
  }

  .md-5 {
    width: 193px;
    height: 194px;
    left: 240px;
    top: 3250px;
  }

  .lg-5 {
    width: 248px;
    height: 248px;
    left: 560px;
    top: 3490px;
  }

  .button {
    font-size: 0.75em;
    padding: 3px 7px;
    right: -20px;
    top: 80vh;
  }

  .home {
    align-items: baseline;
    height: 89.5vh;
    margin-bottom: 0;
    padding-top: 50px;
    grid-template-rows: repeat(20, 1fr);
  }
  .home__display {
    font-size: 7.7em;
  }
  .home__display--maria {
    grid-area: 4/3/span 3/span 4;
    justify-self: center;
    padding-bottom: 0px;
    padding-right: 25px;
    padding-top: 20px;
  }
  .home__display--pascoe {
    grid-area: 9/1/span 5/span 5;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 20px;
  }
  .home__title {
    font-size: 1.25em;
    font-weight: 300;
    grid-area: 9/6/span 3/span 5;
    justify-content: center;
  }
  .home__title--software {
    grid-area: 1/1/span 2/span 1;
    justify-self: end;
    padding-top: 0px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 1em;
  }
  .home__title--dev {
    grid-area: 1/2/span 2/span 2;
    padding-left: 0.75em;
    padding-right: 0;
    justify-self: start;
    padding-top: 10px;
  }
  .home .portfolio {
    grid-area: 15/7/span 3/span 3;
    justify-self: center;
    padding-top: 20px;
    padding-right: 30px;
  }
  .home .portfolio__title {
    font-size: 1.75em;
  }

  .projects {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 50px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 400px repeat(3, 1fr);
    padding-top: 0;
  }
  .projects__display {
    grid-area: 1/1/2/span 2;
    font-size: 7.7em;
  }
  .projects__description {
    margin-top: 20px;
  }

  .about {
    width: 80%;
    margin: 100px auto;
    line-height: 2.25em;
    padding: 130px 0 0;
  }
  .about__text {
    font-size: 1.25em;
  }
  .about__display {
    font-size: 1.3em;
  }
  .about__display--name {
    font-size: 1.6em;
  }
  .about__stack {
    font-size: 1.25em;
    margin: 10vh 0vh 2vh;
  }
  .about__icons {
    font-size: 1.6em;
  }

  .contact {
    padding: 200px 0;
  }
  .contact__display {
    font-size: 3em;
  }
  .contact__icons {
    margin: 5vh auto;
    max-width: 300px;
  }
  .contact__item i {
    font-size: 3em;
  }
  .contact__label {
    padding-top: 1vh;
    font-size: 1em;
  }
}
@media screen and (min-width: 1366px) {
  .header {
    height: 10.5vh;
  }

  .logo {
    height: 3.5em;
    width: 3.5em;
  }

  .nav__name {
    font-size: 1em;
  }

  .sm-1 {
    width: 147px;
    height: 147px;
    left: 270px;
    top: 280px;
  }

  .md-1 {
    width: 193px;
    height: 194px;
    left: 950px;
    top: 430px;
  }

  .lg-1 {
    width: 248px;
    height: 248px;
    left: 420px;
    top: 710px;
  }

  .sm-2 {
    width: 147px;
    height: 147px;
    left: 760px;
    top: 1010px;
  }

  .md-2 {
    width: 193px;
    height: 194px;
    left: 210px;
    top: 1360px;
  }

  .lg-2 {
    width: 248px;
    height: 248px;
    left: 930px;
    top: 1780px;
  }

  .sm-4 {
    width: 147px;
    height: 147px;
    left: 310px;
    top: 2225px;
  }

  .md-4 {
    width: 193px;
    height: 194px;
    left: 210px;
    top: 2710px;
  }

  .lg-4 {
    width: 248px;
    height: 248px;
    left: 640px;
    top: 2840px;
  }

  .sm-5 {
    width: 147px;
    height: 147px;
    left: 1100px;
    top: 3190px;
  }

  .md-5 {
    width: 193px;
    height: 194px;
    left: 440px;
    top: 3370px;
  }

  .lg-5 {
    width: 248px;
    height: 248px;
    left: 720px;
    top: 3640px;
  }

  .button {
    font-size: 0.75em;
    padding: 3px 7px;
    right: -20px;
    top: 80vh;
  }

  .home {
    align-items: baseline;
    height: 89.5vh;
    margin-bottom: 0;
    grid-template-rows: repeat(20, 1fr);
  }
  .home__display {
    font-size: 7.7em;
  }
  .home__display--maria {
    grid-area: 6/3/span 3/span 3;
    justify-self: center;
    padding-bottom: 0px;
    padding-right: 0;
    padding-top: 20px;
    padding-left: 10px;
  }
  .home__display--pascoe {
    grid-area: 10/1/span 3/span 5;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .home__title {
    font-size: 1.5em;
    font-weight: 300;
    grid-area: 10/6/span 3/span 5;
  }
  .home__title--software {
    grid-area: 1/1/span 2/span 1;
    justify-self: end;
    padding-top: 0px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 1em;
  }
  .home__title--dev {
    grid-area: 1/2/span 2/span 2;
    padding-left: 0.75em;
    padding-right: 0;
    justify-self: start;
    padding-top: 10px;
  }
  .home .portfolio {
    grid-area: 15/7/span 3/span 2;
    justify-self: end;
    padding-top: 20px;
    padding-right: 40px;
  }
  .home .portfolio__title {
    font-size: 2.25em;
  }

  .projects {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 50px 0;
    margin: 0 auto;
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px repeat(3, 1fr);
  }
  .projects__display {
    grid-area: 1/1/2/span 2;
    font-size: 7.7em;
  }
  .projects__item {
    display: flex;
    width: 90%;
  }
  .projects__item--blue-planet {
    grid-area: 2/1/span 1/2;
  }
  .projects__item--axel-tower {
    grid-area: 3/1/span 1/2;
    flex-direction: row-reverse;
  }
  .projects__item--round-tower {
    grid-area: 4/1/span 1/2;
  }
  .projects__img {
    margin-bottom: 0;
    width: 50%;
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    mask-image: linear-gradient(to right, transparent, black);
  }
  .projects__img--2 {
    -webkit-mask-image: linear-gradient(to left, transparent, black);
    mask-image: linear-gradient(to left, transparent, black);
  }
  .projects__text {
    width: 100%;
    font-size: 1.25em;
    padding: 2vw;
    font-weight: bold;
    margin: 2vh 0vh 0vh;
    line-height: 2.75em;
    align-self: center;
  }

  .about {
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    line-height: 2.25em;
  }
  .about__text {
    font-size: 1.25em;
  }
  .about__display {
    font-size: 1.3em;
  }
  .about__display--name {
    font-size: 1.6em;
  }
  .about__stack {
    font-size: 1.25em;
    margin: 10vh 0vh 2vh;
  }

  .contact {
    margin: 0 auto;
    padding-top: 310px;
  }
  .contact__display {
    font-size: 3em;
  }
  .contact__icons {
    margin: 5vh auto;
    max-width: 300px;
  }
  .contact__item i {
    font-size: 3em;
  }
  .contact__label {
    padding-top: 1vh;
    font-size: 1em;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    height: 10.5vh;
    padding: 10px 5px 10px 20px;
  }
  .header .nav__name {
    font-size: 1.5em;
  }
  .header .nav__item {
    padding: 0 15px;
  }

  .logo {
    height: 5em;
    width: 5em;
  }

  .sm-1 {
    width: 193px;
    height: 193px;
    left: 375px;
    top: 295px;
  }

  .md-1 {
    width: 248px;
    height: 248px;
    left: 1330px;
    top: 500px;
  }

  .lg-1 {
    width: 298px;
    height: 298px;
    left: 580px;
    top: 839px;
  }

  .sm-2 {
    width: 193px;
    height: 193px;
    left: 1090px;
    top: 1220px;
  }

  .md-2 {
    width: 248px;
    height: 248px;
    left: 280px;
    top: 1755px;
  }

  .lg-2 {
    width: 298px;
    height: 298px;
    left: 1460px;
    top: 2460px;
  }

  .sm-4 {
    width: 193px;
    height: 193px;
    left: 340px;
    top: 3125px;
  }

  .md-4 {
    width: 248px;
    height: 248px;
    left: 550px;
    top: 3870px;
  }

  .lg-4 {
    width: 298px;
    height: 298px;
    left: 1000px;
    top: 4290px;
  }

  .sm-5 {
    width: 193px;
    height: 193px;
    left: 1450px;
    top: 4790px;
  }

  .md-5 {
    width: 248px;
    height: 248px;
    left: 660px;
    top: 4800px;
  }

  .lg-5 {
    width: 298px;
    height: 298px;
    left: 1140px;
    top: 5350px;
  }

  .button {
    font-size: 0.75em;
    padding: 3px 7px;
    right: -20px;
    top: 80vh;
  }

  .icons {
    font-size: 3em;
    margin-top: 10px;
  }
  .icons i {
    padding: 1vw;
  }

  .home {
    align-items: baseline;
    height: 89.5vh;
    margin-bottom: 0;
    grid-template-rows: repeat(20, 1fr);
  }
  .home__display {
    font-size: 12em;
  }
  .home__display--maria {
    grid-area: 5/3/span 3/span 3;
    justify-self: center;
    padding-bottom: 0px;
    padding-right: 0;
    padding-top: 20px;
    padding-left: 30px;
  }
  .home__display--pascoe {
    grid-area: 9/1/span 3/span 5;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .home__title {
    font-size: 2em;
    font-weight: 300;
    grid-area: 9/6/span 3/span 5;
  }
  .home__title--software {
    grid-area: 1/1/span 2/span 1;
    justify-self: end;
    padding-top: 0px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 1.25em;
  }
  .home__title--dev {
    grid-area: 1/2/span 2/span 2;
    padding-left: 0.75em;
    padding-right: 0;
    justify-self: start;
    padding-top: 10px;
  }
  .home .portfolio {
    grid-area: 15/7/span 3/span 2;
    justify-self: end;
    padding-top: 20px;
    padding-right: 90px;
  }
  .home .portfolio__title {
    font-size: 3em;
  }

  .projects {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 200px 0;
    margin: 0 auto;
    padding: 150px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 350px repeat(3, 1fr);
  }
  .projects__display {
    grid-area: 1/1/2/span 2;
    font-size: 12em;
  }
  .projects__img {
    margin-bottom: 0;
    width: 50%;
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    mask-image: linear-gradient(to right, transparent, black);
  }
  .projects__img--2 {
    -webkit-mask-image: linear-gradient(to left, transparent, black);
    mask-image: linear-gradient(to left, transparent, black);
  }
  .projects__description {
    align-self: center;
    width: 50%;
    margin-top: 0;
  }
  .projects__text {
    width: 100%;
    font-size: 2em;
    padding: 1vw;
    font-weight: bold;
    margin: 0;
    line-height: 2.75em;
    align-self: center;
  }
  .projects__icons {
    margin-bottom: 2vh;
    font-size: 2em;
  }
  .projects__links {
    font-size: 1.5em;
  }

  .about {
    width: 60%;
    margin: 0 auto;
    padding: 250px 50px 100px;
    line-height: 3em;
  }
  .about__text {
    font-size: 1.75em;
  }
  .about__display {
    font-size: 1.3em;
  }
  .about__display--name {
    font-size: 1.6em;
  }
  .about__stack {
    font-size: 1.75em;
    margin: 10vh 0vh 2vh;
  }

  .contact {
    margin: 0 auto;
    padding: 250px 0;
    line-height: 5em;
  }
  .contact__display {
    font-size: 4em;
  }
  .contact__icons {
    margin: 5vh auto;
    max-width: 400px;
  }
  .contact__item i {
    font-size: 4em;
  }
  .contact__label {
    padding-top: 1vh;
    font-size: 1.5em;
  }
}